# ── Angular cache ────────────────────────────────────────────────────────────
.angular/

# ── Dependencias ─────────────────────────────────────────────────────────────
node_modules/

# ── Build / dist ─────────────────────────────────────────────────────────────
dist/
build/

# ── Variables de entorno ──────────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ── Logs ─────────────────────────────────────────────────────────────────────
*.log
npm-debug.log*

# ── SO ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
